<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ahmed.therapiodatafordepression">
    // Permissions
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <permission-group
        android:name="android.permission-group.LOCATION"
        android:description="@string/accessLocation"
        android:label="permits Therapio to access LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.example.ahmed.utils.volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Meta data for facebook id -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Facebook activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        // Main
        <activity
            android:name="com.example.ahmed.ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

<!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
-->

            //stop alarm
            <receiver android:name="com.example.ahmed.ui.MainActivity.StopAlarm" />
        </activity>
        <!-- WelcomeActivity -->
        <activity android:name="com.example.ahmed.ui.Welcome.WelcomeActivity" />

        <!-- InfoActivity -->
        <activity
            android:name="com.example.ahmed.ui.Welcome.InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahmed.ui.Auth.Activity_Login" />
        </activity>
        // Login
        <activity
            android:name="com.example.ahmed.ui.Auth.Activity_Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //Register
        <activity
            android:name="com.example.ahmed.ui.Auth.Activity_Register"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        // Settings
        <activity
            android:name="com.example.ahmed.ui.SettingActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionbar" />

        <activity android:name="com.example.ahmed.ui.ResultActivityAppetite"
            android:parentActivityName="com.example.ahmed.ui.MainActivity"
            />
        <activity android:name="com.example.ahmed.ui.ResultActivitySleep"
            android:parentActivityName="com.example.ahmed.ui.MainActivity"
            />
        <activity android:name="com.example.ahmed.ui.ResultActivityMood"
            android:parentActivityName="com.example.ahmed.ui.MainActivity"
            />
        <activity android:name="com.example.ahmed.ui.ResultActivityConsumption"
            android:parentActivityName="com.example.ahmed.ui.MainActivity"
            />
        <activity android:name="com.example.ahmed.ui.ResultActivityWeight"
            android:parentActivityName="com.example.ahmed.ui.MainActivity"
            />

        <receiver android:name="com.example.ahmed.service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.ahmed.service.NotifyReceiverAppetite" />
        <receiver android:name="com.example.ahmed.service.NotifyReceiverMood" />
        <receiver android:name="com.example.ahmed.service.NotifyReceiverSleep" />
        <receiver android:name="com.example.ahmed.service.NotifyReceiverConsumption"/>
        <receiver android:name="com.example.ahmed.service.NotifyReceiverWeight"/>

        <!--
            <service
            android:name="com.example.ahmed.service.FbService"
            android:enabled="true" />
        -->

        // Declare Sensors Alarm in manifest since it extends BroadcastReceiver
        <receiver android:name="com.example.ahmed.service.AlarmReceiver" />
        // Declare Facebook Alarm in manifest since it extends BroadcastReceiver
        <receiver android:name="com.example.ahmed.service.FbReceiver" />
        // Stop alarm receiver
        <receiver android:name="com.example.ahmed.service.StopAlarmReceiver" />
        // Declare Service in manifest since it extends BroadcastReceiver
        <receiver
            android:name="com.example.ahmed.service.PhoneCallService"
            android:description="@string/device_description"
            android:label="@string/device_admin_label">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.ahmed.ui.QuestionnaireBDI.QuestionnaireActivity"
            android:label="@string/title_activity_questionnaire"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ahmed.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ahmed.ui.QuestionnaireBDI.result.Result"
            android:label="Result"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.example.ahmed.ui.QuestionnaireBDI.Beginners"
            android:label="@string/title_activity_beginners"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
